@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

header {
    min-width:300px;
    width:100%;
    height:50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    font-family: 'Raleway', sans-serif;
    position:fixed;
    display:flex;
    justify-content: center;
    transition:1000ms;
}

header.exp {
    height:100vh;
}

header .wrapper {
    position:relative;
    width:100%;
    max-width:1000px;
    height:50px;
    display:flex;
    align-items:center;
}

header .wrapper .hidden{
    visibility:hidden;
    opacity:0;
}

header .wrapper h1 {
    font-size:1.5rem;
    margin-left:20px;
    transition:200ms linear;
    float:left;
}

header .wrapper ul {
    right:0;
    position:absolute;
    list-style: none;
    margin-right:20px;
    width:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:300ms;
}

header .wrapper ul.switched {
    right: calc(50% - 10px);
    margin: 0;
}


header .wrapper ul li button.hamburger {
    position:relative;
    top:2px;
}


header .wrapper ul li button {
    color:black;
    background: none;
	border: none;
	padding: 0;
    transition:200ms linear;
    cursor:pointer;
}

section#search {
    position:absolute;
    visibility: hidden;
    opacity: 0;
    transition:300ms;
    top:70px;
    height:calc(100vh - 70px);
    width:100%;
    display:Flex;
    justify-content: center;
}

section#search button {
    color:black;
    background: none;
	border: none;
	padding: 0;
    margin:0;
    cursor:pointer;
}

section#search.switched {
    visibility: visible;
    opacity: 1;
}

section#search .searchbar {
    position: relative;
    display: flex;
    justify-content: center;
    height:30px;
    width:70%;
}

section#search .searchbar button{   
    background:none;
    position:relative;
    z-index: 1;
    top:2px;
}

section#search .searchbar button.icon{   
    left:calc(16px + 11px);
    color:black;
    top:8px;
    height:16px;
}

section#search .searchbar button.clear{   
    right:calc(16px + 6px);
    height:16px;
    top:8px;
}


section#search .searchbar input[type='search'] {
    position:relative;
    width:100%;
    max-width:500px;
    padding:0px 20px 0px 30px;
    border-radius:500px;
    outline:none;
    border:1px solid rgb(182, 182, 182);
    text-overflow: ellipsis;
    font-family: 'Raleway', sans-serif;
}

section#search .searchbar input::-webkit-search-cancel-button{
    display:none;
}

.disabled {
    display:none;
}
